<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122070373045-v6pr1mklohtuvuhrpuir4n279j2fdaut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122070373045-v6pr1mklohtuvuhrpuir4n279j2fdaut</string>
	<key>API_KEY</key>
	<string>AIzaSyDCtkcmXS6soZ5NAK6zgo1ebhhzDzdlRkI</string>
	<key>GCM_SENDER_ID</key>
	<string>122070373045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busAwayFirestore</string>
	<key>PROJECT_ID</key>
	<string>sc2006-8e836</string>
	<key>STORAGE_BUCKET</key>
	<string>sc2006-8e836.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122070373045:ios:ffb70b9a140e779b5764fc</string>
</dict>
</plist>